@import 'theme';
@import 'bootstrap/bootstrap';

// your styles here (note that you can use Bootstrap variables from _variables.scss in here too)
.example {
  color: red;
  background-color: $purple;
}

#bla {
	margin-top:-5em;
	height:200px;
	width:200px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url("images/Vege-head.jpg");
	border:2px white solid;
	-webkit-box-shadow: -2px 12px 61px -14px rgba(0,0,0,0.58);
	-moz-box-shadow: -2px 12px 61px -14px rgba(0,0,0,0.58);
	box-shadow: -2px 12px 61px -14px rgba(0,0,0,0.58);

	@include media-breakpoint-up(md){ 
		height:30vw;
		width:20vw;
		margin-top:-10em;
		border:5px white solid;
	}
	@include media-breakpoint-up(lg){ 
		height:20vw;
		width:15vw;
		margin-top:-15em;
		border:10px white solid;
	}


}

#designer_name{
	margin:auto;
	text-align:center;
	margin-top:10px;
}
#designer_name h1{
	font-size:18px;

	@include media-breakpoint-up(md){ 
	font-size:30px;
	}
	@include media-breakpoint-up(lg){ 
	font-size:40px;
	margin-top:15px;
	}
}



.box, .box2, .box3 {
	height:40vw;
	width:100%;

	@include media-breakpoint-up(lg){ 
		height:30vw;
	}

}

.box{
	// background-color: #FF5B2A;
	background-image:url("images/Truffle-Falls.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;

}

.box2{
	background-image:url("images/Train.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
   
}
.box3{
	background-image:url("images/Spaghetti.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
   
}

.intro{
	margin:2em 2em;
	text-align:center;

}

.statistics{
	margin:auto;
	width:80%;
	height:150px;
	border:3px red solid;
}

// ===========================Gallary====================================

// Remy function
@function remy($value) {
  @return ($value / 16px) *1rem;
}
/**

* Layout styles
 */
header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/**
 * Button component
 */
.btn {
  position: relative;
  top: 0;
  margin-top: 50%;
  opacity: 0;
  font-size: 1rem;
  color: #fff;
  border-radius: remy(35px);
  transform: translateY(-50%);
  transition: all .25s ease-in-out;
  &:focus,
  &:hover {
    color: #111;
    background-color: #fff;
    border-color: #fff;
  }
}
/**
 * Grid styles
 */
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#111, .45);
  transition: background-color .55s ease-in-out;
  &:focus,
  &:hover {background-color: rgba(#111, .05);}
  &:focus > button,
  &:hover > button {opacity: 1;}
}

.grid__sizer,
.grid__item {
  position: relative;
  width: 20%;
  min-width: remy(260px);
}
.grid__item {
  margin-bottom: .9375rem;
  // margin-bottom: 23px;
  border-radius: remy(4px);
  overflow: hidden;
}
.grid__item--high,
.grid__item--high img {height: remy(480px);}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/**
 * Link styles
 */
a,
.fa {
  color: #bbb;
  transition: color .25s ease-in-out;
  &:focus,
  &:hover {
    text-decoration: none;
    color: #666;
  }
}
.active .fa {color: #f62459;}

.center-block{
	display:block;
}
.outline{
	border:2px red solid
}


// =============================ABOUT====================================

.container{
	margin-top:5em;
}
.container>p{
	margin-top:2em;
}
.embed-responsive{
	height:480px;
	width:640px;
}


